@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-image: url("https://res.cloudinary.com/db2sa2bxv/image/upload/v1675342883/og-default_jluo2r.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-position-y: 0;
} */
